<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cek Khodam</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Berkshire+Swash&display=swap"
        rel="stylesheet">

    <!-- Tailwind -->
    <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

    <!--Replace with your tailwind.css once created-->
    <script src="https://kit.fontawesome.com/3ddb5c222d.js" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }

        h1 {
            font-family: "Berkshire Swash", serif;
            font-weight: 400;
            font-style: normal;
        }

        h2 {
            font-family: "Amita", serif;
            font-weight: 400;
            font-style: normal;
        }
    </style>
</head>

<body class="flex flex-col bg-gray-950 justify-center items-center min-h-screen">
    <div class="w-full px-6">
        <div class="bg-amber-900 shadow-lg rounded-md text-slate-200 max-w-96 min-w-fit p-6">
            <div class="flex flex-col justify-center items-center text-center">
                <h1 class="font-bold text-4xl mb-4">Cek Khodam</h1>
                <h2 class="text-lg mb-6">By wkwk</h2>
            </div>

            <div class="p-6">
                <form method="post">
                    <label class="block text-left text-sm mb-4">Khodam <span class="bg-slate-400 p-1.5 rounded text-white">{{query}}</span> adalah:</label>
                    <div class="flex flex-col md:flex-row md:space-x-4 py-4 items-center">
                        <h1 class="text-2xl font-medium">
                            "{{random_word}}"
                        </h1>
                    </div>
                </form>
            </div>
        </div>

        <div class="text-slate-200 max-w-96 min-w-fit m-auto pt-8 flex justify-center">
            <a href="{{ url_for('cek_khodam') }}"
                class="bg-orange-500 w-full p-4 text-center font-bold rounded hover:shadow-lg hover:bg-orange-600 hover:scale-95">
                <i class="fa-solid fa-magnifying-glass"></i>
                <span class="ml-2">Cari yang lain</span>
            </a>
        </div>

        <div class="pt-12 flex flex-row space-x-4 justify-center">
            <a href="https://api.whatsapp.com/send?text=Check%20out%20this%20link: https://2089q0ksg5-5000.asse.devtunnels.ms"
                class="bg-green-500 text-white py-2 px-4 rounded-full hover:bg-green-600 hover:scale-95" target="_blank"
                rel="noopener noreferrer">
                <i class="fa-brands fa-whatsapp mr-2"></i>
                <span>Share</span>
            </a>
            <a href="#"
                class="bg-red-800 text-white py-2 px-4 rounded-full hover:bg-red-900 hover:scale-95" target="_blank"
                rel="noopener noreferrer">
                <i class="fa-solid fa-sack-dollar"></i>
                <span>Traktir air minum</span>
            </a>
        </div>
        
        <div class="text-white text-sm flex justify-center pt-12">
            <p>Made by wkwk, inspired by <a href="https://khodam.vercel.app/" class="text-blue-400 underline hover:text-blue-600 hover:scale-95">@khodamku</a></p>
        </div>
    </div>
</body>



</html>